.search-label {
  display: none;
}
@media screen and (min-width: 992px) {
  .search-label {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
  }
  #search {
    border-radius: 0.3rem;
    border: 2px solid var(--tanhide);
    text-indent: 0.5rem;
    outline: none;
    height: 1.8rem;
    width: 15rem;
  }
  #search:focus {
    font-size: 1rem;
    outline: var(--tanhide-focus);
  }
  .search-btn {
    background-color: var(--tanhide);
    height: 1.8rem;
    width: 2rem;
    border-radius: 0.3rem;
    border: none;
    position: absolute;
    & i {
      color: var(--martinique);
      cursor: pointer;
    }
  }
  .search-btn:hover {
    background-color: var(--tanhide-focus);
  }
  ::placeholder {
    color: var(--martinique);
  }
}

/* @media screen and (min-width: 1920px) {
  #search {
    width: 18rem;
    height: 2.375rem;
    &:focus {
      font-size: 1.2rem;
    }
  }
  & .search-btn {
    height: 2.375rem;
    width: 2.375rem;
    & i {
      font-size: 1.1rem;
    }
  }
  ::placeholder {
    font-size: 1rem;
    text-indent: 0.8rem;
  }
} */
