.Impressum {
  color: var(--martinique);
  & h1 {
    font-size: 2.4rem;
    padding-left: 1rem;
    font-weight: 800;
    padding: 1rem;
    letter-spacing: 0.02rem;
    margin-bottom: 1rem;
  }
  & .impressum-group {
    line-height: 1.7;
    margin-bottom: 0.938rem;
    letter-spacing: 0.02rem;
    & .email-link-container {
      display: flex;
      gap: 1rem;
      & a {
        text-decoration: none;
        color: var(--tanhide);
      }
      & a:hover {
        color: var(--tanhide-focus);
      }
    }
  }
  & .impressum-block {
    line-height: 1.375;
    letter-spacing: 0.02rem;
    margin-bottom: 0.938rem;
    & h4 {
      margin-bottom: 0.938rem;
    }
  }
}

@media screen and (min-width: 992px) {
  .Impressum {
    & .impressum-group,
    .impressum-block,
    h4 {
      margin-bottom: 1.5rem;
    }
  }
}
