.Aktuelles {
  color: var(--martinique);
  margin: 3rem auto;
  width: 90%;
  padding: 1rem;

  & h1 {
    font-size: 2rem;
    padding-left: 1rem;
    letter-spacing: 0.02rem;
    margin-bottom: 2.5rem;
  }

  & .aktuelles-wrapper {
    display: grid; /* Verwende Grid für die Karten */
    grid-template-columns: 1fr; /* Standard: eine Spalte */
    gap: 2rem;
  }

  & .aktuelles-card {
    background-color: #fff;
    box-shadow: 0px 8px 12px #091e4226, 0px 0px 1px #091e424f;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%; /* Karte nimmt die volle Höhe ihres Containers ein */

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0px 12px 18px #091e424f;
    }

    & .aktuelles-content {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      flex-grow: 1; /* Der Textbereich nimmt den verfügbaren Platz ein */
    }

    & h3 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    & p {
      font-size: 15px;
      line-height: 1.8;
    }

    & .aktuelles-link {
      display: flex;
      align-items: center;
      gap: 1rem;
      text-decoration: none;
      color: var(--martinique);
      font-weight: bold;

      &:hover {
        color: var(--tanhide-focus);
      }

      i {
        font-size: 1.3rem;
        transform: rotate(270deg);
        color: var(--tanhide);
      }
    }

    & .aktuelles-pic {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 250px;
      background-color: #3b3c4a;
      margin-top: auto; /* Bild nach unten schieben */

      img {
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .Aktuelles {
    margin: 4rem auto;
  }
}

@media screen and (min-width: 992px) {
  .Aktuelles {
    & .aktuelles-wrapper {
      grid-template-columns: repeat(2, 1fr); /* 2 Spalten ab 992px */
    }
  }
}

@media screen and (min-width: 1200px) {
  .Aktuelles {
    & .aktuelles-wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

/* @media screen and (min-width: 1771px) {
  .Aktuelles {
  }
} */
