.MitgliedDetail {
  color: var(--martinique);
  margin: 3rem auto;
  width: 90%;

  h1 {
    font-size: 2rem;
    padding-left: 1rem;
    letter-spacing: 0.02rem;
    margin-bottom: 1rem;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  p {
    line-height: 1.625;
    margin-bottom: 0.5rem;
    margin-top: 1.25rem;
  }

  .committees-list,
  .hobbies-list {
    list-style-type: disc;
    padding-left: 1.625rem;
    margin: 1.25rem 0;

    li {
      padding-left: 0.375rem;
      margin: 0.5rem 0;
      line-height: 1.625;
      &::marker {
        color: var(--santasgrey);
        opacity: 0.5;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .MitgliedDetail {
    margin: 3rem auto 4rem auto;
  }
}

@media screen and (min-width: 992px) {
  .MitgliedDetail {
    margin: 4rem auto;
  }
}

@media screen and (min-width: 1200px) {
  .MitgliedDetail {
    width: 75%;
  }
}

@media screen and (min-width: 1771px) {
  .MitgliedDetail {
    margin: 5rem auto 8rem auto;
    width: 72%;
  }
}
