* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #4b6bfb;
  --primary-focus: #405bd5;
  --primary-content: #ffffff;
  --secondary: #696a75;
  --secondary-focus: #3b3c4a;
  --secondary-content: #ffffff;
  --martinique: #3d3757;
  --martinique-focus: #292534;
  --accent-content: #ffffff;
  --tanhide: #f59253;
  --tanhide-focus: #e07a35;
  --santasgrey: #9b9bb4;
  --santasgrey-focus: #727287;
  --santasgrey-focus-2: #695f8f;
  --greychateau: #9ca4ac;
  --greychateau-focus: ;
  --neutral: #181a2a;
  --neutral-focus: #141624;
  --neutral-content: #ffffff;
  --base-100: #ffffff;
  --base-200: #f6f6f7;
  --base-300: #e8e8ea;
  --base-content: #131313;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--base-content);
}

main {
  /* margin: 3rem auto 3rem auto; */
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  /* width: 90%; */
  margin: 0 auto;
}

/* Media Queries Breakpoints */
@media screen and (min-width: 768px) {
  /* main {
    margin: 3rem auto 4rem auto;
  } */
}
@media screen and (min-width: 992px) {
  main {
    /* margin: 4rem auto 4rem auto; */
  }
}
@media screen and (min-width: 1200px) {
  & section {
    /* width: 74%; */
  }
}
@media screen and (min-width: 1920px) {
  main {
    /* margin: 5rem auto 8rem auto; */
    & section {
      /* width: 71%; */
    }
  }
}
